@font-face {
  font-family: "game-font";
  src: url("../fonts/anodetonoone.ttf");
}

h1 {
  font-family: "game-font";
  font-size: 40px;
  color: #603a03;
}

body {
  background: url("../img/page_bg.jpg");
}

#container {
  width: 950px;
  height: auto;
  position: relative;
  margin: 100px auto;
}

#game-bg {
  width: 950px;
  height: 630px;
  background: url("../img/game_bg.jpg");
  border-color: #fff;
  border-style: solid;
}

#game-instructions {
  width: 350px;
  height: 200;
  background-color: #ccc;
  opacity: 95%;
  margin: auto;
  padding: 10px;
  margin-top: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.5);
}

#game-instructions:hover {
  background-color: #fff;
}

#game-instructions:active {
  transform: translate(2px, 0px);
  box-shadow: 15px 0px 20px rgba(0, 0, 0, 0.11);
}

#scoreboard {
  width: 450px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 590px;
}

#player-energy {
  width: 140px;
  height: 38px;
  position: absolute;
  left: 750px;
  top: 7px;
}

#end {
  width: 350px;
  height: 250px;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.5);
  opacity: 95%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

h3 {
  font-family: game-font;
  font-size: 20px;
  color: #603a03;
}

h3:hover {
  cursor: pointer;
  color: red;
}

h2 {
  font-family: game-font;
  font-size: 20px;
  color: #fff;
}

#player {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 8px;
  top: 179px;
  background-image: url("../img/chopper.png");
}

#enemy1 {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 689px;
  top: 253px;
  background-image: url("../img/enemy_1.png");
}

#enemy2 {
  width: 165px;
  height: 70px;
  position: absolute;
  left: 775px;
  top: 447px;
  background-image: url("../img/enemy_2.png");
}

#ally {
  width: 44px;
  height: 51px;
  position: absolute;
  left: 10px;
  top: 464px;
  background-image: url("../img/ally.png");
}

#shoot {
  width: 50px;
  height: 8px;
  position: absolute;
  background-image: url("../img/shoot.png");
}

#explosion {
  width: 15px;
  height: 87px;
  position: absolute;
}

#death-ally {
  width: 44px;
  height: 51px;
  position: absolute;
}

.chopper-animated {
  animation: propeller-move 0.5s steps(2) infinite;
  -webkit-animation: propeller-move 0.5s steps(2) infinite;
  -moz-animation: propeller-move 0.5s steps(2) infinite;
  -ms-animation: propeller-move 0.5s steps(2) infinite;
  -o-animation: propeller-move 0.5s steps(2) infinite;
}

@keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-moz-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-webkit-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-ms-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-o-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

.ally-animated {
  animation: walking 0.9s steps(12) infinite;
  -webkit-animation: walking 0.9s steps(12) infinite;
  -moz-animation: walking 0.9s steps(12) infinite;
  -ms-animation: walking 0.9s steps(12) infinite;
  -o-animation: walking 0.9s steps(12) infinite;
}

@keyframes walking {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-moz-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-webkit-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-ms-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-o-keyframes propeller-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

.death-animated {
  width: 44px;
  height: 51px;
  background-image: url("../img/ally_death.png");
  animation: death 0.5s steps(7) infinite;
  -webkit-animation: death 0.5s steps(7) infinite;
  -moz-animation: death 0.5s steps(7) infinite;
  -o-animation: death 0.5s steps(7) infinite;
  -ms-animation: death 0.5s steps(7) infinite;
}

@keyframes death {
  from {
    background-position: 0;
  }
  to {
    background-position: -308px;
  }
}

@-webkit-keyframes death {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}
@-moz-keyframes death {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}
@-o-keyframes death {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}
@-ms-keyframes death {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}
